<div *ngIf="movie">
  <h2>{{movie.title}} Report</h2>
  <div>
    <span>director: </span>{{this.director.fullname}}<br />
    <span>cast: </span>
    <div>
      <ul>
        <li *ngFor="let actor of cast | slice:0:7">
          <span (click)="routeToPerson(actor.personid)">{{actor.fullname}}</span>
        </li>
      </ul>
    </div>
    <span>revenue: </span>${{ movie.revenue.toLocaleString('en', {useGrouping:true}) }}<br />
    <span>budget: </span>{{movie.budget}}<br />
    <span>release date: </span>{{movie.releasedate | date}}<br />
    <span>runtime: </span>{{movie.runtime}}<br />
  </div>
  <button (click)="goBack()">go back</button>
  <div>
    <h3>Similar Movies:</h3>
    <table mat-table #table [dataSource]="similarMovies">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let row" (click)="routeToMovieDetail(row)"> {{row.title}} </td>
      </ng-container>
      <ng-container matColumnDef="releasedate">
        <th mat-header-cell *matHeaderCellDef> ReleaseDate </th>
        <td mat-cell *matCellDef="let row"> {{row.releasedate | date}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="similarMoviesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: similarMoviesColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>