<div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Search.." [matAutocomplete]="auto" [formControl]="searchInput">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option.fullname">
        {{ option.fullname }}
      </mat-option>
    </mat-autocomplete>
  </form>
</div>
<!-- <div>
  <input (keyup)="search($event.target.value)" id="name" placeholder="Search" />

  <ul>
    <li *ngFor="let option of filteredOptions | async">
      <button
      {{option['fullname']}}
    </li>
  </ul>
</div> -->